.myHeader{
    padding: 0;
    width: 100%;
    .topDiv{
        height: 50%;
        text-align: right;
        line-height: 32px;
        padding-right: 40px;
        a {
            margin-left: 10px
        }
    };
    .bottomDiv{
        border-top: 2px solid greenyellow;
        height: 50%;
        display: flex;
        text-align: right;
        .displayName{
            text-align: left;
            padding-top: 10px;
            font-size: 15px;
            font-weight: 800;
            line-height: 50%;
            flex-grow:1;

        }
        .displayTime{
            line-height: 32px;
            flex-grow:2;
            padding-right: 50px;
        }
    }
}
